body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: aliceblue;
  border-bottom: solid 1px aliceblue;
  text-align: center;
  background-color:rgb(22, 22, 22);
  padding-top:1rem;
  margin-top: 0;
}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}

h2 {
  color: aliceblue;
}

button {
  margin: 1rem;
  background-color:rgb(49, 49, 49);
  text-align: center;
  text-decoration: center;
  color: aliceblue;
}

p {
  color:aliceblue;
}

body {
  background-color: black;
}

#root {
  display: flex;
  justify-content: center;
}

.square {
  background: rgb(49, 49, 49);
  border: 1px solid white;
  color: rgb(202, 202, 202);
  margin: 12px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin: 4px;
  padding: 0;
  text-align: center;
  width: 40px;
  height: 40px;
}

.board-row button {
  margin: 2px;
  padding: 2px;
}

.board-grid {
  display: grid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
